holiday.ny1.name=Новый Год
holiday.ny1.date=20190101
holiday.ny2.name=Новый Год
holiday.ny2.date=20190102
holiday.ny3.name=Новый Год
holiday.ny3.date=20190103
holiday.ny4.name=Новый Год
holiday.ny4.date=20190104
holiday.ny5.name=Рождество Христово
holiday.ny5.date=20190107
holiday.ny6.name=Новый Год
holiday.ny6.date=20190108
holiday.defender.name=День защитника Отечества
holiday.defender.date=20190223
holiday.mar8.name=Международный женский день
holiday.mar8.date=20190308
holiday.may1.name=Праздник весны и труда
holiday.may1.date=20190501
holiday.may2.name=Праздник весны и труда
holiday.may2.date=20190502
holiday.may3.name=Праздник весны и труда
holiday.may3.date=20190503
holiday.may9.name=День Победы
holiday.may9.date=20190509
holiday.may10.name=День Победы
holiday.may10.date=20190510
holiday.jun12.name=День России
holiday.jun12.date=20190612
holiday.nov11.name=День народного единства
holiday.nov11.date=20191104
